@charset "utf-8";
/*公共样式*/
html,body{padding:0; margin:0;cursor: default;height: 100%;}
body, h1, h2, h3, h4, h5, h6, hr, p, blockquote, dl, dt, dd, ul, ol, li, pre, form, fieldset, legend, button, input, textarea, th, td { margin: 0; padding: 0 ;}
body{font-family:"PingFangSC","Microsoft YaHei","微软雅黑","Hiragino Sans GB","arial","Tahoma","SimSun","宋体","sans-serif";}
h1, h2, h3, h4, h5, h6 { font-size: 100% ;}
address, cite, dfn, em, var { font-style: normal ;}
ul, ol, dl { list-style: none }
i{list-style: none;}
a { text-decoration: none !important; outline: none ;font-family:"Microsoft YaHei","微软雅黑","Hiragino Sans GB","arial","Tahoma","SimSun","宋体","sans-serif";cursor: pointer; color:#767676;}
img { border:0;}
button, input, select, textarea { font-size: 100% ;font-family:"Microsoft YaHei","微软雅黑","Hiragino Sans GB","arial","Tahoma","SimSun","宋体","sans-serif"; outline: none;}
table { border-collapse: collapse; border-spacing: 0 ;}
.clear{ clear:both;}
.clearfix:after{display:block;clear:both;content:"\0020";visibility:hidden;height:0;}
.clearfix{*zoom:1;}
.fl{float: left;}
.fr{float: right;}
input::-webkit-outer-spin-button,input::-webkit-inner-spin-button{-webkit-appearance: none !important}
input[type="number"]{-moz-appearance:textfield;}